@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wcs8wp');
  src:  url('fonts/icomoon.eot?wcs8wp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wcs8wp') format('truetype'),
    url('fonts/icomoon.woff?wcs8wp') format('woff'),
    url('fonts/icomoon.svg?wcs8wp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-quill:before {
  content: "\e907";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-dice:before {
  content: "\e915";
}
.icon-pacman:before {
  content: "\e916";
}
